<ion-header>
  <ion-navbar>
    <ion-title>
      足迹详情
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="sprint-details">
  <ion-item>
    <ion-textarea [(ngModel)]="sprintDetailsModel.sprint.description" autosize ></ion-textarea>
  </ion-item>
  <div>
    <button ion-button outline large *ngFor="let mediaRecord of sprintDetailsModel.sprint.mediaRecord"
    [style.background-image]="getBackgroundImage(mediaRecord)" 
            (click)="viewMedia(mediaRecord)" >
      <!--{{pic}}
      <img src = "{{mediaRecord.thumbnail}}" (click)="viewMedia(mediaRecord)" />
      -->
    </button>
    <!--
    <button ion-button outline large *ngFor="let video of sprintDetailsModel.sprint.videosUrl">
      <video src = {{video}} width="100px" controls="controls"></video>
    </button>
    -->
    <button ion-button outline (click)="addmedia()" large>
      <ion-icon name='add' is-active="false" ></ion-icon>
    </button>
  </div>
  <ion-item>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 赞</div>
          </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 评论</div>
        </button>
    </ion-col>
  </ion-row>
  </ion-item>
  <ion-item>
    <button ion-button outline (click)="delSprint()" large>
      <ion-icon name='del' is-active="false" >del</ion-icon>
    </button>
  </ion-item>
</ion-content>

<style>
  .sprint-details {
    background-color: #FFFFFF;
    border-bottom: 0px solid #E5E5E5;
    margin: 5px 0 -4px 0;
  }
</style>