page-home {

}


.custom-alert .alert-head {
  padding: 0px 0px 0px 0px;
}


.custom-alert .alert-button-group .button-inner {
  font-size: 18px;
  justify-content: flex-start;
}

.sprint-button {
  font-size: 28px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}