<ion-header>
  <ion-navbar>
    <ion-title>
      足迹
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addSprint()">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="dream-sprint">
  <ion-card>
    <ion-list>
      <ion-item>
        <h4>{{dream.title}}:</h4>
        <p>{{dream.description}}</p>
      </ion-item>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 赞</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="viewPhoto()">
            <ion-icon name="text"></ion-icon>
            <div>4 评论</div>
            </button>
        </ion-col>
        <ion-col center text-center>
          <button ion-button icon-left clear small>
            <ion-icon name="more"></ion-icon>
            <div>编辑</div>
            </button>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>


  <div *ngFor="let dreamSprintModel of dreamSprintModels">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-badge class="badge-start-time">{{dreamSprintModel.createTime}}</ion-badge>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <!--card begin-->
    <ion-card>
      <ion-list>
        <ion-item>
            <ion-textarea readonly value={{dreamSprintModel.sprint.description}} autosize></ion-textarea>
        </ion-item>
        <div>
          <button ion-button outline large *ngFor="let mediaRecord of dreamSprintModel.sprint.mediaRecord">
            <img src="{{mediaRecord.thumbnail}}"  (click)="viewPhoto(dreamSprintModel, mediaRecord)" />
          </button>
        </div>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small >
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 赞</div>
          </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small >
            <ion-icon name="text"></ion-icon>
            <div>4 评论</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <button ion-button icon-left clear small (click)="detailSprint(dreamSprintModel)">
            <ion-icon name="more"></ion-icon>
            <div>编辑</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card>
  </div>
</ion-content>

<style>
  .dream-sprint ion-card {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    margin: 0 10px 10px 10px
  }
  
  .dream-sprint ion-list ion-item {
    border-bottom: 0.55px solid #c8c7cc;
  }
  
  .badge-start-time {
    border-radius: 2px;
    background-color: #d4d4d4;
  }
</style>